---
---

<section class="flight-info">
  <div class="container">
    <div class="wrapper">
      <div class="flights">
        <a href="" class="flight-1">
          <i class="fa-solid fa-plane"></i>
          <p class="about-flight">Find Flight</p>
        </a>
        <div class="content"></div>
        <a href="" class="flight-2">
          <i class="fa-solid fa-bed"></i>
          <p class="about-stay">Find Stays</p>
        </a>
      </div>

      <!-- inputs -->

      <div class="inputs">
        <!-- input-info -->
        <fieldset class="input-info-1">
          <legend class="text">From - To</legend>
          <input type="text" name="" placeholder="Lahore - Karachi" />
          <i class="fa-solid fa-right-left"></i>
        </fieldset>
        <!-- input-info -->

        <fieldset class="input-info-2">
          <legend class="text">Trip</legend>
          <input type="text" name="" placeholder="Return" />
          <i class="fa-solid fa-chevron-down"></i>
        </fieldset>
        <!-- input-info -->
        <fieldset class="input-info-3">
          <legend class="text">Depart- Return</legend>
          <input type="text" name="" placeholder="07 Nov 22 - 13 Nov 22" />
        </fieldset>
        <!-- input-info -->
        <fieldset class="input-info-4">
          <legend class="text">Passenger - Class</legend>
          <input type="text" name="" placeholder="1 Passenger, Economy" />
        </fieldset>
      </div>

      <!-- show-flight -->
      <div class="additional-buttons">
        <div class="promo-code">
          <i class="fa-solid fa-plus"></i>
          <p class="text">Add Promo Code</p>
        </div>
        <div class="seeing-flight">
          <i class="fa-solid fa-paper-plane"></i>
          <p class="text">Show Filghts</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../assets/styles/normolize.scss";
  .flight-info {
    gap: 32px;
    position: relative;
    top: -97px;
    z-index: 3;
    .container {
      padding: 16px 32px 32px 32px;
      border-radius: 16px;
      background: var(--neutrals, #fff);
      box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .flights {
        display: flex;
        gap: 32px;
        align-items: center;
        .flight-1 {
          display: flex;
          color: #112211;
          padding-bottom: 5px;

          &:hover {
            border-bottom: 3px solid #8dd3bb;
          }
          p {
            font-size: 16px;
            font-weight: 600;
            margin-left: 8px;
          }
        }
        .content {
          background: #d7e2ee;
          width: 1px;
          height: 48px;
        }

        .flight-2 {
          display: flex;
          color: #112211;
          padding-bottom: 5px;

          &:hover {
            border-bottom: 3px solid #8dd3bb;
          }
          p {
            font-size: 16px;
            font-weight: 600;
            margin-left: 8px;
          }
        }
      }
    }
    .inputs {
      margin: 62px 0 32px;
      display: flex;
      gap: 24px;
      .input-info-1 {
        height: 56px;
        width: 324px;
        border: 1px solid #d7e2ee;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .input-info-2 {
        padding: 0 12px;
        width: 140px;
        height: 56px;
        border: 1px solid #d7e2ee;
        border-radius: 4px;
        display: flex;
        align-items: center;
      }
      .input-info-3 {
        width: 324px;
        border: 1px solid #d7e2ee;
        border-radius: 4px;
        input {
          padding: 8px 0 8px 16px;
        }
      }
      .input-info-4 {
        width: 324px;
        border: 1px solid #d7e2ee;
        border-radius: 4px;
        input {
          padding: 8px 0 8px 16px;
        }
      }
    }

    .additional-buttons {
      display: flex;
      justify-content: flex-end;
      .promo-code {
        margin-right: 24px;
        display: flex;
        padding: 8px 16px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          border-radius: 4px;
          background: var(--mint-green, #8dd3bb);
        }
        i {
          margin: 2px 4px;
        }
      }
      .seeing-flight {
        cursor: pointer;
        display: flex;
        margin-right: 24px;
        display: flex;
        padding: 8px 16px;
        transition: 0.2s;
        &:hover {
          border-radius: 4px;
          background: var(--mint-green, #8dd3bb);
        }
        i {
          margin-right: 4px;
        }
      }
    }
  }
</style>
