---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/landing-page/hero.astro";
import FlighInfo from "../components/landing-page/fligh-info.astro";
import PerfectTrip from "../components/landing-page/perfect-trip.astro";
import Reviews from "../components/landing-page/reviews.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<!-- <FlighInfo />
		<PerfectTrip />
		<Reviews />
		<Footer /> -->
	</main>
</Layout>


