---
---

<button class="btn">
    <slot />
</button>

<style lang="scss">
    @import "../assets/styles/normolize.scss";
    .btn {
        font-size: 14px;
        font-weight: 500;
        padding: 8px 16px;
        color: #112211;
        background: #fff;
        border: 1px solid #8dd3bb;
        border-radius: 4px;
    }
</style>
