---
import Mailbox from "../assets/images/mailbox.png";
---

<footer>
  <div class="container">
    <!-- FOOTER TOP -->
    <div class="footer-top">
      <div class="subscribe">
        <p class="top-title">Subscribe <br /> Newsletter</p>
        <p class="title">The Travel</p>
        <p class="text">
          Get inspired! Receive travel discounts, tips and behind the scenes
          stories.
        </p>

        <div class="email">
          <input type="text" name="" id="" placeholder="Your email address" />
          <button class="btn">Subscribe</button>
        </div>
      </div>
      <div class="image">
        <img src={Mailbox} alt="" />
      </div>
    </div>
    <!-- FOOTER DOWN -->
    <div class="footer-down">

    </div>
  </div>
</footer>

<style lang="scss">
  @import "../assets/styles/normolize.scss";
  footer {
    background: #cdeae1;
    border-radius: 20px;
    .footer-top {
      display: flex;
      justify-content: space-between;
      padding-right: 24px;
      .subscribe {
        padding: 24px;
        .top-title {
          font-size: 44px;
          font-weight: 700;
          color: #112211;
        }
        .title {
          margin: 24px 0 8px;
          font-size: 20px;

          font-weight: 700;
          color: #112211;
          opacity: 0.8;
        }
        .text {
          font-size: 16px;
          font-weight: 500;
          color: #112211;
          opacity: 0.7;
        }
        .email {
          display: flex;
          margin-top: 16px;
          input {
            width: 457px;
            padding: 8px 0 8px 16px;
            height: 40px;
            font-size: 16px;
            font-weight: 400;
            color: #1c1b1f;
            margin-right: 16px;
          }
          .btn {
            font-size: 14px;
            font-weight: 400;
            padding: 8px 16px;
            color: #fff;
            border-radius: 4px;
            background: var(--blackish-green, #121);
          }
        }
      }
      .image{
        max-width: 400px;
        // padding-right: 10px;
      }
    }
  }
</style>
