---
import Mailbox from "../assets/images/mailbox.png"
---

<footer>
  <div class="container">
    <div class="footer-top">
      <div class="subscribe">
        <p class="top-title">Subscribe Newsletter</p>
        <p class="title">The Travel</p>
        <p class="text">
          Get inspired! Receive travel discounts, tips and behind the scenes
          stories.
        </p>

        <div class="email">
          <input type="text" name="" id="" />
          <button class="btn">Subscribe</button>
        </div>
      </div>
      <div class="image">
        <img src={Mailbox} alt="">
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import "../assets/styles/normolize.scss";
  footer {
    background: #CDEAE1;
    
  }
</style>
